
<div class="container">
    <form [formGroup]="filters" (ngSubmit)="doFilter()">
        <label>
            <p class="lead">Search the movie that you like</p>
            <input
                type="text"
                placeholder="Title of the movie"
                formControlName="title"
                class="form-control form-control-lg">
        </label>        
        <div class="text-right">
            <button type="submit" class="btn btn-info">Search</button>
        </div>
    </form>
</div>
