
<div class="container">
    <form [formGroup]="filters" (ngSubmit)="doFilter()">
        <label>
            <p class="lead">Search the movie that you like</p>
            <input
                type="text"
                placeholder="Title of the movie"
                formControlName="title"
                class="form-control form-control-lg">
        </label>        
        <div class="text-right">
            <button type="submit" class="btn btn-info">Search</button>
        </div>
    </form>
</div>

<!--

            
            <div class="col">
                <label>
                    <span>Year: </span>
                    <input
                        type="number"
                        placeholder=""
                        formControlName="year">
                </label> <br>
            </div>
            <div class="col">
                <label>
                    <span>Genre: </span>
                    <select class="form-control" id="Genre" formControlName="genre">
                        <option>action</option>
                        <option>Sci-Fi</option>
                        <option>Adventure</option>
                        <option>Fantasy</option>
                        <option>Thriller</option>
                        <option>Comedy</option>
                        <option>Animation</option>
                        <option>Horror</option>
                        <option>Mystery</option>
                        <option>Drama</option>
                        <option>Biography</option>
                        <option>Western</option>
                        <option>Romance</option>
                        <option>Crime</option>
                        <option>History</option>
                        <option>War</option>
                        <option>Musical</option>
                        <option>Family</option>
                    </select>
                </label> <br>
            </div>
        </div>
        -->