<div *ngIf="movieService.movie as movie">
    <div *ngIf="(movie.plot != 'Plot is unknown.' && movie.plot != undefined ); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>

        <div class="container py-4 ">
            <h1 class="pb-3 mb-4 border-bottom text-center">{{movie.title}}</h1>
            <div class="p-5 mb-4 bg-light rounded-3 row rounded">
                <div class="container-fluid py-5 col-md-6 ">
                    <h4 class="display-5 fw-bold"> Plot: </h4>
                    <blockquote class="blockquote text-right ">
                        <p class="col-md-8 fs-4">
                            {{movie.plot}}
                        </p>
                    </blockquote>
                </div>
                <div class="container-fluid py-5 col-md-3">
                    <p>
                        Genres:
                        <span *ngFor="let genre of movie.genres; let last = last">
                            <span *ngIf="last">
                                {{genre}}
                            </span>
                            <span *ngIf="!last">
                                {{genre}},
                            </span>
                        </span>
                    </p>
                    <p>
                        Directors:
                        <span *ngFor="let director of movie.directors; let last = last">
                            <span *ngIf="last">
                                {{director}}
                            </span>
                            <span *ngIf="!last">
                                {{director}},
                            </span>
                        </span>
                    </p>
                    <p>
                        Countries:
                        <span *ngFor="let countrie of movie.countries; let last = last">
                            <span *ngIf="last">
                                {{countrie}}
                            </span>
                            <span *ngIf="!last">
                                {{countrie}},
                            </span>
                        </span>
                    </p>
                    <p *ngIf="movie.writers">
                        Writters:
                        <span *ngFor="let writer of movie.writers; let last = last">
                            <span *ngIf="last">
                                {{writer}}
                            </span>
                            <span *ngIf="!last">
                                {{writer}},
                            </span>
                        </span>
                    </p>
                    <p>
                        Year: {{movie.year}}
                    </p>
                </div>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col-md-6" *ngIf="movie.cast.length != 0">
                    <div class="h-100 p-5 text-white bg-info rounded shadow">
                        <h2>Starring</h2>
                        <ul *ngFor="let actor of movie.cast" class="list-group">
                            <li class="text-center">
                                - {{actor}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5 text-white bg-danger rounded shadow">
                        <div>
                            <h5 class="text-left">More information:</h5>
                        </div>
                        <div class="text-right">
                            <a href="https://www.imdb.com/title/tt{{movie.imdb.id}}" class="btn btn-light">Imdb Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template #elseBlock>
        <div class="container py-4 ">
            <h1 class="pb-3 mb-4 border-bottom text-center">{{movie.title}}</h1>
            <div class="p-5 mb-4 bg-light rounded-3 row rounded">
                <div class="container-fluid py-5 col-md-6">
                    <h2>Starring</h2>
                    <ul *ngFor="let actor of movie.cast" class="list-group">
                        <li class="text-center">
                            - {{actor}}
                        </li>
                    </ul>
                </div>
                <div class="container-fluid py-5 col-md-3">
                    <p>
                        Genres:
                        <span *ngFor="let genre of movie.genres; let last = last">
                            <span *ngIf="last">
                                {{genre}}
                            </span>
                            <span *ngIf="!last">
                                {{genre}},
                            </span>
                        </span>
                    </p>
                    <p>
                        Directors:
                        <span *ngFor="let director of movie.directors; let last = last">
                            <span *ngIf="last">
                                {{director}}
                            </span>
                            <span *ngIf="!last">
                                {{director}},
                            </span>
                        </span>
                    </p>
                    <p>
                        Countries:
                        <span *ngFor="let countrie of movie.countries; let last = last">
                            <span *ngIf="last">
                                {{countrie}}
                            </span>
                            <span *ngIf="!last">
                                {{countrie}},
                            </span>
                        </span>
                    </p>
                    <p *ngIf="movie.writers">
                        Writters:
                        <span *ngFor="let writer of movie.writers; let last = last">
                            <span *ngIf="last">
                                {{writer}}
                            </span>
                            <span *ngIf="!last">
                                {{writer}},
                            </span>
                        </span>
                    </p>
                    <p>
                        Year: {{movie.year}}
                    </p>
                </div>

            </div>

            <div class="col-md-6 ">
                <div class="p-5 text-white bg-danger rounded shadow">
                    <div>
                        <h5 class="text-left">More information:</h5>
                    </div>
                    <div class="text-right">
                        <a href="https://www.imdb.com/title/tt{{movie.imdb.id}}" class="btn btn-light">Imdb Link</a>
                    </div>
                </div>
            </div>

        </div>